<!--Template Inheritance-->
{% extends 'base.html' %}
{% block body %}

<div class='container my-4'>
<h4>!!!Update Games!!!</h4>
<form actio"/update/{{todo.sno}} method="POST">
<div class="form-group">
    <label for="textinput">Update Your Game!</label>
    <input type="text" class="form-control" id="textinput" value="{{todo.game}}" name="game" aria-describedby="textHelp">
    <small id="textHelp" class="form-text text-muted" >Enter Game title here.</small>
</div>
<div class="form-group">
    <label for="desc">Description</label>
    <!--Getting game name which we want to update-->
    <input type="text" class="form-control" value="{{todo.desc}}" name="desc" id="desc">
</div>
<button type="submit" class="btn btn-dark">Update</button>
</form>
</div>
<!--</br>-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        
{% endblock %}